*{
    font-family: 'Inter', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

body{
    margin: 0;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 100px;
}

.main-nav{
    position: sticky;
    width: 100%;
    display: flex;
    background-color: #6D597A;
    margin: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}

.nav-div{
    width: 55%;
    /* display: ; */
    display: flex;
    justify-content: space-between;
}

.logo-image{
    margin-left: 20px;
    width: 120px;
    /* height: px; */
}

.logo-heading{
    font-weight: 600;
    /* color: #e3e3e3; */
    color: beige;
}

.dropdown-menu{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 50%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;
    transition: 0.4s;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  
  .active {
    transition: all 4s ease-in; 
  }
  
  .panel {
    /* padding: 0 18px; */
    display: none;
    background-color: white;
    overflow: hidden;
    width: 50%;
    /* display: flex;
    flex-direction: column; */
    justify-content: center;
    align-items: center;
  }

  .panel-para{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: beige;
    border-bottom: 1px solid grey;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
  }

.alt1{
    background-color: #6D597A;
    color: white;
    font-weight: 600;
}

.alt2{
    background-color: #94879c;
    color: white;
    font-weight: 600;
}
